body {
  background-color: #f5f5f5 !important;
}

h2 {
  color: #b3b3b3 !important;
}

/*manager page*/

.user-group {
  padding: 20px;
}

.user-group .user-list {
  width: 49%;
  display: inline-block;
}

.user-group .title h2{
  padding: 19px;
}
.user-group .title{
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.26);
  height: 70px;
  background-color: white;
  margin-bottom: 40px;
}

.user-group .list-group {
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.26);
  margin-bottom: 0;
}

.user-group .create-group-block .list-group .list-group-item img {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin-right: 40px;
}

.user-group .create-list-block .list-group .list-group-item img {
  border-radius: 20px;
  height: 100px;
  margin-right: 40px;
}

.user-group .list-group .list-group-item input {
  margin-right: 50px;
}

.user-group .create-group-block, .user-group .create-list-block {
  width: 49%;
  display: inline-block;
  float: right;
}

.user-group .list-group .group-name {
  padding-top: 15px;
  background-color: white;
  width: 100%;
}

.group-name .form-control2 {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 90%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.user-group .create-list-block .list-group .btn {
  width: 100%;
  padding: 10px 50px;
}


/*login page*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button, .but-cus {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.but-cus {
  width: 90%;
  margin-bottom: 20px;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background-color: #76b852 !important; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.login-form .error {
  color: #a50000;
}

.selected {
  background-color: #e3e3e3 !important;
}

.card-list .btn-lg {
  padding: 6px 11px 6px 8px;
  float: right;
  border-radius: 0;
  border-style: none;
  background: #4CAF50;
  color: white;
}

.card-list .list-group-item {
  height: 60px;
}

.nav {
  font-weight: bold;
  color: #4CAF50;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.26);
  margin-bottom: 0;
  list-style: none;
  padding: 0 20px;

  background-color: white;
  height: 70px;

  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.nav .item {
  text-transform: uppercase;
  color: #4CAF50;
  border: 2px solid #4caf50;
  border-top: none;
  border-bottom: none;
  display: inline-block;
  height: 100%;
  padding: 18px;
  /*width: 170px;*/
  cursor: pointer;
}

.nav .item:hover {
  text-decoration: none;
}

.nav .logout {
  display: inline-block;
  height: 100%;
  padding: 0 40px;
  float: right;
  border: 2px solid #4caf50;
  background-color: white;
  border-top: none;
  border-bottom: none;
}

.create-card {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.26);
}

.create-card .group-name {
  background-color: white;
  padding-top: 20px;
}

.create-card textarea {
  height: 120%
}

button[disabled] {
  background-color: #999999;
}
