<div class="nav">
  <a class="item text-center" ui-sref="user.createcard">create card</a>
  <a class="item text-center" ui-sref="user.cardlist">card list</a>
  <a class="item text-center" ui-sref="user.groupslist">groups</a>
  <a class="item text-center" ui-sref="user.usergroup" ng-if="$menu.isManager">create groups</a>

  <button class="logout" ng-click="$menu.logout()">log out</button>
</div>
<div ui-view=""></div>
