<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{$ctrl.card.name || '[Card name here]'}}</h3>
</div>
<div class="modal-body" id="modal-body">

  <div ng-bind-html="$ctrl.card.content | trust"></div>

</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="$ctrl.save()">Save</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
